.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d7d7d7;
  .calculator:hover {
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2),
      12px 24px 80px 0 rgba(0, 0, 0, 0.19);
  }
  .calculator {
    background-color: #99b3d0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 12px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    height: 50%;
    text-align: center;
    .form-group {
      .input-box {
        margin-bottom: 20px;
        width: 96.5%;
        label {
          display: block;
          font-size: 14px;
          margin-bottom: 8px;
          font-weight: bold;
          color: #333;
        }
        textarea {
          width: 100%;
          height: 60px;
          padding: 8px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: none;
        }
      }
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 15px;
        margin-right: 10px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      button.clear {
        background-color: grey;
      }
      button:hover {
        background-color: #0056b3;
      }
    }
    .display-result {
      margin-top: 20px;
      padding: 10px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
    }
    .display-result.success {
      background-color: #d4edda;
      color: #155724;
    }

    .display-result.error {
      background-color: #f8d7da;
      color: #721c24;
    }
  }
}
